---
import "../../styles/global.css";
import BaseLayout from "../BaseLayout.astro";
import BackBtn from "../../components/Navigation/BackBtn.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <BackBtn />
    <section>
        <p>{frontmatter.description}</p>
    </section>
    <slot />
    {
        frontmatter.tags && (
            <>
                <p>Tags:</p>
                <ul>
                    {frontmatter.tags.map((tag: string) => {
                        return <li>
                            <a href={`/tags/${tag}`}>{tag}</a></li>;
                    })}
                </ul>
            </>
        )
    }
    <p>Written by {frontmatter.author}</p>
    <p>Published on <span class="date">{frontmatter.pubDate}</span></p>
</BaseLayout>
<style>
    a {
      color: #00539F;
    }
  
    .tags {
      display: flex;
      flex-wrap: wrap;
    }
  
    .tag {
      margin: 0.25em;
      border: dotted 1px #a1a1a1;
      border-radius: .5em;
      padding: .5em 1em;
      font-size: 1.15em;
      background-color: #F8FCFD;
    }
  </style>