---
const pageTitle = "About Me";

import { identity} from "../scripts/index.js";
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout pageTitle={pageTitle}>
    <section>
        <p>Welcome to my website</p>
    </section>

    <section>
        <h2>Whoami</h2>
        <ul>
            <li>Name: {identity.firstName}</li>
            <li>Country: {identity.country}</li>
            <li>Occupation: {identity.occupation}</li>
            {
                identity.hobbies.length > 0 && (
                    <li>Hobbies: {identity.hobbies.join(", ")}</li>
                )
            }
        </ul>
    </section>

    <section>
        <h2>Skills</h2>
        <blockquote>
            <h3>SoftSkills</h3>
            {
                identity.softSkills.length > 0 && 
                identity.softSkills.map((skill, index) => (
                    <p>{skill.Name}</p>
                ))
            }
        </blockquote>

        <blockquote>
            <h3>TechSkills</h3>
            {
                identity.techSkills.length > 0 && 
                identity.techSkills.map(
                    (skill, index) => (
                    <p>{skill.Name}</p>
                    <p>Years of exp: {skill.experience}</p>
                    <ul>
                        {
                            skill.Tools.length > 0 && 
                            skill.Tools.map((tech, index) => (
                                <li>{tech}</li>
                            ))
                        }
                    </ul>
                )
            )
            }
        </blockquote>
    </section>
</BaseLayout>
