---
const pageTitle = "About Me";

import { identity, skills, happy, finished, goal } from "../scripts/index.js";

import '../styles/global.css';

import Header from "../components/Header.astro";

import Footer from "../components/Footer.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{pageTitle}</title>
    </head>
    <body>

        <Header/>
        
        <h1>My Astro Site</h1>
        <h1>About Me</h1>
        <h2>... and my new Astro site!</h2>

        <section>
            <p>
                I am working through Astro's introductory tutorial. This is the
                second page on my website, and it's the first one I built
                myself!
            </p>

            <p>
                This site will update as I complete more of the tutorial, so
                keep checking back and see how my journey is going!
            </p>
        </section>

        <section>
            <h2>My Identity</h2>
            <ul>
                <li>First Name: {identity.firstName}</li>
                <li>Country: {identity.country}</li>
                <li>Occupation: {identity.occupation}</li>
                {
                    identity.hobbies.length > 0 && (
                        <li>Hobbies: {identity.hobbies.join(", ")}</li>
                    )
                }
            </ul>
            <p>My skills are:</p>
            <ul>
                {skills.map((skill) => <li>{skill}</li>)}
            </ul>
        </section>

        <section>
            {happy && <p>I am happy to be learning Astro!</p>}

            {finished && <p>I finished this tutorial!</p>}

            {
                goal === 3 ? (
                    <p>My goal is to finish in 3 days.</p>
                ) : (
                    <p>My goal is not 3 days.</p>
                )
            }
        </section>
        <Footer/>
    </body>
</html>
